## 1. Создание блок-схемы по задаче "Написать программу, которая из имеющегося массива строк формирует новый массив из строк, длина которых меньше, либо равна 3 символам."
## 2. Оформленние текстового описания решения задачи.
* Изначально инициализируем тот массив, который нам дан по условию задачи. Создаем пустой массив для хранения данных, прописываем, что размер равен длине массива, индекс равен 0.
* проверяем условие, чтобы i был меньше длины массива
* проверяем условие: длина строки меньше либо равна 3
* если да, то элемент первого массива заносим во второй массив и увеличиваем счетчик
* если нет: увеличиваем индекс
И так повторяем до конца программы
Выводим результат: второй массив.
